@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font: 16px "Geologica";
  color: #fffffa;
  background-color: #455A44;
  margin: auto
}

a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  color: #fffffa;
  transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

a:hover {
  color: #F4CD96;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.grid-container {
  /* display, grid-template-areas, gap */
    display: grid;
    grid-template-areas:
      'header'
      'menu'
      'main'
      'footer';
    gap: 4px;
  /* background-color: #496348; */
  padding-top: 64px;
}

.header {
  grid-area: header; 
  /* background-color: #9E4B32; */
  padding-bottom: 0px
}

.header h1 {
  color: #fffffa; 
  font-size: 48px;
  font-weight:bold;
  text-transform: lowercase;
  vertical-align: bottom;
}

.menu { 
  grid-area: menu;
  text-align: center;
  text-transform: lowercase;
  font-weight: bold;
  font-weight:black;
  font-size:24px;
}

.menu ul{
  list-style-type: none;
}

/* .menu li{
  padding: 0.2em;
} */

.menu a{
  color: #fffffa;
  text-decoration:none;
  transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

.menu a:hover {
  color: #F4CD96;
  /* text-decoration: underline; */
  text-underline-offset: 0.2em;
}

.content {
  grid-area: main; 
  padding-bottom: 128px;
}

.content p {
  font-size: 16px;
  font-weight: Extra-Light;
  line-height: 150%;
}

.content b {
  font-weight: black;
}

code {
  font-size: 14px;
}

.content h2 {
  font-size: 24px;
  font-weight: bold;
  line-height:100%; 
  padding-top: 36px;
  color: #BACAB9;
}

.footer { 
  grid-area: footer; 
  /* background-color: #0099cc;  */
  color: white; 
  text-align: center; 
  padding: 10px; 
}

@media (max-width: 767px) {
  .header {grid-area: 1 / 1 / span 1 / span 6; text-align: center; padding-bottom:0px;}
  /* .header h1{line-height: 64px;} */
  .menu {grid-area: 2 / 1 / span 1 / span 6; padding-top: 0px; padding-left: 0px; padding-right: 40px;}
  .content {grid-area: 3 / span 6; padding-left: 16px; padding-right: 16px;padding-top: 15px;}
  .footer {grid-area: 4 / span 6;}
  .grid-container {padding-top: 16px;}
}


@media (min-width: 768px) {
  .header {grid-area: 2 / 3 / span 1 / span 1; text-align:left; padding-top: 12px;}
  .header h1{line-height: 0px;}
  .menu {grid-area: 2 / 2 / span 5 / span 1; padding-top:1px; padding-right: 64px;}
  .content {grid-area: 3 / 3 / span 4 / span 1; padding-right: 64px}
  .footer {grid-area: 6 / 1 / span 1 / span 4;}
}
